html,
body,
#root,
.app,
.content {
  height: 100%;
}

.app,
.breadcrumbs,
.bc,
.content {
  display: flex;
}

.app {
  flex-direction: column;
}

.bc {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.bc svg {
  margin-right: 5px;
  transition: opacity 0.2s linear;
}

.bc:last-child > svg {
  opacity: 0;
}

.bc span {
  display: flex;
  align-items: center;
}

.menu {
  background: #000;
  color: #fff;
  padding: 20px;
}

.menu ul {
  padding-left: 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
